body {
  box-sizing: border-box;
  margin: 0px;
}

.hide {
    display: none;
  }
  
  .header {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: grey;
    margin-bottom: 1rem;
  }
  
  .title {
    margin: 0;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-self: center;
    }
  
  .search {
    grid-column: 3;
    margin: .5rem;
    border-radius: 5px;
    }
  .searchbox{
    border: 1px solid black;
    box-shadow: 2px 1px black;
    border-radius: 5px;    
  }
  
  .empty {
    visibility: none;
    grid-column: 1;
  }

  .company {
    height: 2.5rem;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: azure;
    text-align: left;
  }

  .container {
    display:flex;
    background-color: aqua;
  }

  .container__sidebar {
    /* position: absolute; */
    /* display: flex; */
    width:300px;
    height: 800px;
    background-color: gainsboro;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1rem;
    overflow: hidden;
    margin-left: 5px;
  }

  .container__main {
    flex: 1;
  }
  
  .grid-container {
    /* flex: 1; */
    display: grid;
    height: 800px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    gap: 1rem;
    overflow: auto;
  }
  .box {
    border-radius: .5em;
    width: 250px;
    padding: 3rem;  
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 1em;
    background: rgb(76,149,236);
    background: linear-gradient(45deg, rgba(76,149,236,1) 0%, rgba(178,178,225,1) 0%, rgba(117,209,228,1) 100%);
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
  .orange { background-color: orangered; }
  .red { background-color: red; }
  .violet {background-color: violet; }
  .salmon {background-color: salmon; }