* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0:
}



:root (
  --header-height: 60px;
  --primary-color: hsl(190, 76%, 40%);
  --secondary-color: hsl(174, 69%, 68%);
  --tertiary-color: hsl(198, 90%, 19%);
  --background: hsl(186, 59%, 89%)
)

.hide {
    display: none !important;
  }
  
.header {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: hsl(174, 69%, 68%);
    margin-bottom: 1rem;
    box-shadow: 0 .25rem .25rem hsl(174, 69%, 68%);
  }
  
.title {
    margin: 0;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-self: center;
    }
  
.search {
    grid-column: 3;
    margin: .5rem;
    border-radius: 5px;
    }

.company__search {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
    
    
.searchbox {
    flex-grow: 1;
    height: 30px;
    margin-left: .5rem;
    border: 1px solid black;
    box-shadow: 2px 1px black;
    border-radius: 5px;    
  }
  
  
.empty {
    visibility: none;
    grid-column: 1;
  }

  a {
    display: contents;
    text-decoration: none;
    width: 100%;
    color: var(--tertiary-color);
  }

  .company {
    display: flex;
    height: 2.5rem;
    width: 100%;
    margin-bottom: 5px;
    padding-left: .5rem;
    padding-right: .5rem;
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    background-color: var(--background);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  }

  .company:hover {
    animation: shift-up .25s ease-in 0s normal forwards;
  }


  .container {
    display:flex;
    /* background-color: aqua; */
    height: 100vh;
  }

  .container__sidebar {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 300px;
    height: calc(100vh - var(--header-height));
    background-color: var(--background);
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 5px;
  }

  .container__main {
    flex: 1;
  }
  
  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    justify-items: center;
    gap: 1rem;
    overflow: auto;
  }
/* create hover animation */

  .box {
    border-radius: .5em;
    height: fit-content;
    width: 250px;
    padding: 3rem;  
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px 3px grey;
    background: linear-gradient(45deg, rgba(76,149,236,1) 0%, rgba(178,178,225,1) 0%, hsl(186, 59%, 89%) 100%);
  }

  .box:hover {
    box-shadow: none;
  }

  @keyframes shift-up {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
  }
}

